<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Componente - SPINNER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>Spinner</ion-list-header>

    <ion-item>
      <ion-label>Default</ion-label>
      <ion-spinner></ion-spinner>
    </ion-item>

    <ion-item>
      <ion-label>Lines</ion-label>
      <ion-spinner name='lines'></ion-spinner>
    </ion-item>

    <ion-item>
      <ion-label>Lines Small</ion-label>
      <ion-spinner name='lines-small'></ion-spinner>
    </ion-item>

    <ion-item>
      <ion-label>Dots</ion-label>
      <ion-spinner name='dots'></ion-spinner>
    </ion-item>

    <ion-item>
      <ion-label>Bubbles</ion-label>
      <ion-spinner name='bubbles'></ion-spinner>
    </ion-item>

    <ion-item>
      <ion-label>Circles</ion-label>
      <ion-spinner name='circles'></ion-spinner>
    </ion-item>

    <ion-item>
      <ion-label>Crescent</ion-label>
      <ion-spinner name='crescent'></ion-spinner>
    </ion-item>

    <ion-item>
      <ion-label>Default Paused</ion-label>
      <ion-spinner paused></ion-spinner>
    </ion-item>
  </ion-list>

</ion-content>