<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand='full' (click)='openLayout("componente-action-sheet")'> Action Sheet </ion-button>
  <ion-button expand='full' (click)='openLayout("componente-alert")'> Alert </ion-button>
  <ion-button expand='full' (click)='openLayout("componente-badge")'> Badge </ion-button>
  <ion-button expand='full' (click)='openLayout("componente-button")'> Button </ion-button>
  <ion-button expand='full' (click)='openLayout("componente-card")'> Card </ion-button>
  <ion-button expand='full' (click)='openLayout("componente-check-box")'> CheckBox </ion-button>
  <ion-button expand='full' (click)='openLayout("componente-radio")'> Radio </ion-button>
  <ion-button expand='full' (click)='openLayout("componente-date-time")'> DateTime </ion-button>
  <ion-button expand='full' (click)='openLayout("componente-fab")'> FAB </ion-button>
  <ion-button expand='full' (click)='openLayout("componente-input")'> INPUT </ion-button>
  <ion-button expand='full' (click)='openLayout("componente-list")'> List </ion-button>
  <ion-button expand='full' (click)='openLayout("componente-loading")'> Loading </ion-button>
  <ion-button expand='full' (click)='openLayout("componente-modal")'> Modal </ion-button>
  <ion-button expand='full' (click)='openLayout("componente-range")'> Range </ion-button>
  <ion-button expand='full' (click)='openLayout("componente-select")'> Select </ion-button>
  <ion-button expand='full' (click)='openLayout("componente-slide")'> Slide </ion-button>
  <ion-button expand='full' (click)='openLayout("componente-spinner")'> Spinner </ion-button>
  <ion-button expand='full' (click)='openLayout("componente-toast")'> Toast </ion-button>
  <ion-button expand='full' (click)='openLayout("componente-infinite-scroll")'> Infinite Scroll </ion-button>
  <ion-button expand='full' (click)='openLayout("componente-popover")'> PopOver </ion-button>
  <ion-button expand='full' (click)='openLayout("componente-refresher")'> Refresher </ion-button>
  <ion-button expand='full' (click)='openLayout("componente-search-bar")'> Search Bar </ion-button>
  <ion-button expand='full' (click)='openLayout("componente-toogle")'> Toogle </ion-button>

</ion-content>
