<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Componente - FAB</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-fab vertical='top'>
    <ion-fab-button>
        <ion-icon name='add'></ion-icon>
    </ion-fab-button>
    <ion-fab-list side='end'>
        <ion-icon name='logo-vimeo'></ion-icon>
        <ion-icon name='logo-facebook'></ion-icon>
        <ion-icon name='logo-twitter'></ion-icon>
    </ion-fab-list>
  </ion-fab>

  <ion-fab vertical='top' horizontal='end'>
    <ion-fab-button>
      <ion-icon name='add'></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical='center'>
    <ion-fab-button color='danger'>
      <ion-icon name='add'></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical='bottom' >
    <ion-fab-button color='dark'>
      <ion-icon name='add'></ion-icon>      
    </ion-fab-button>    
  </ion-fab>

</ion-content>