<ion-header>
    <ion-toolbar>
      <ion-buttons slot='start'>
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Layout - CSS Utilities </ion-title>
    </ion-toolbar>
  </ion-header>
  

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-start>        
          <h3>TEXT-START</h3>
          DESCRIÇÃO EXTREMAMENTE LONGA E CHATA.
          VAI TOMAR NO MEIO DO SEU CU , POR FAVOR CARA PARA DE FALAR UM MONTE DE MERDA.        
      </ion-col>
    
      <ion-col text-end>        
          <h3>TEXT-END</h3>
          DESCRIÇÃO EXTREMAMENTE LONGA E CHATA.
          VAI TOMAR NO MEIO DO SEU CU , POR FAVOR CARA PARA DE FALAR UM MONTE DE MERDA.        
      </ion-col>
    
      <ion-col text-justify>        
          <h3>TEXT-JUSTFY</h3>
          DESCRIÇÃO EXTREMAMENTE LONGA E CHATA.
          VAI TOMAR NO MEIO DO SEU CU , POR FAVOR CARA PARA DE FALAR UM MONTE DE MERDA.        
      </ion-col>

      <ion-col text-nowrap>        
          <h3>TEXT-NOWRAP</h3>
          DESCRIÇÃO EXTREMAMENTE LONGA E CHATA.
          VAI TOMAR NO MEIO DO SEU CU , POR FAVOR CARA PARA DE FALAR UM MONTE DE MERDA.        
      </ion-col>

      <ion-col text-wrap>        
          <h3>TEXT-WRAP</h3>
          DESCRIÇÃO EXTREMAMENTE LONGA E CHATA.
          VAI TOMAR NO MEIO DO SEU CU , POR FAVOR CARA PARA DE FALAR UM MONTE DE MERDA.        
      </ion-col>

      <ion-col text-center>        
          <h3>TEXT-CENTER</h3>
          DESCRIÇÃO EXTREMAMENTE LONGA E CHATA.
          VAI TOMAR NO MEIO DO SEU CU , POR FAVOR CARA PARA DE FALAR UM MONTE DE MERDA.        
      </ion-col>

      <ion-col text-left>        
          <h3>TEXT-LEFT</h3>
          DESCRIÇÃO EXTREMAMENTE LONGA E CHATA.
          VAI TOMAR NO MEIO DO SEU CU , POR FAVOR CARA PARA DE FALAR UM MONTE DE MERDA.        
      </ion-col>

      <ion-col text-right>        
          <h3>TEXT-RIGHT</h3>
          DESCRIÇÃO EXTREMAMENTE LONGA E CHATA.
          VAI TOMAR NO MEIO DO SEU CU , POR FAVOR CARA PARA DE FALAR UM MONTE DE MERDA.        
      </ion-col>

      <ion-col text-uppercase>        
          <h3>TEXT-UPPERCASE</h3>
          DESCRIÇÃO EXTREMAMENTE LONGA E CHATA.
          VAI TOMAR NO MEIO DO SEU CU , POR FAVOR CARA PARA DE FALAR UM MONTE DE MERDA.        
      </ion-col>

      <ion-col text-lowercase>        
          <h3>TEXT-LOWERCASE</h3>
          DESCRIÇÃO EXTREMAMENTE LONGA E CHATA.
          VAI TOMAR NO MEIO DO SEU CU , POR FAVOR CARA PARA DE FALAR UM MONTE DE MERDA.        
      </ion-col>

      <ion-col text-capitalize>        
          <h3>text-capitalize</h3>
          descrição extremamente longa e chata.
          vai tomar no meio do seu cu , por favor cara para de falar um monte de merda.        
      </ion-col>

    </ion-row>
  </ion-grid>

  <div text-sm-center  text-md-left text-lg-right text-xl-uppercase>
    <h3>Trabalhando com responsividade</h3>
  </div>
</ion-content>
