<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Componente - ALERT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button expand='full' (click)='openAlertSimples()' >ABRIR ALERT SIMPLES</ion-button>
    <ion-button expand='full' (click)='openAlertMultiplosBotoes()' >ABRIR ALERT MULTIPLOS BOTÕES</ion-button>
    <ion-button expand='full' (click)='openAlertComfirmacao()' >ABRIR ALERT CONFIRMAÇÃO</ion-button>
    <ion-button expand='full' (click)='openAlertPrompt()' >ABRIR ALERT PROMPT</ion-button>
</ion-content>