<ion-header>
    <ion-toolbar>
      <ion-buttons slot='start'>
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Componente - BADGE</ion-title>
    </ion-toolbar>
  </ion-header>
  

<ion-content padding>
  <ion-badge color='primary'>25</ion-badge>
  <ion-badge color='secondary'>25</ion-badge>
  <ion-badge color='dark'>25</ion-badge>
  <ion-badge color='danger'>25</ion-badge>
  <ion-badge>25</ion-badge>

  <ion-list>
    <ion-item>
      <ion-icon name='man' slot='start'></ion-icon>
      Seguidores
      <ion-badge color='danger' slot='end'>300k</ion-badge>
    </ion-item>
  </ion-list>

</ion-content>
