<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Componente - INPUT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-input></ion-input>
  <ion-input value='1234'></ion-input>
  <ion-input placeholder='Informe seu nome'></ion-input>
  <ion-input clearInput value='CURSO IONIC 4'></ion-input>
  <ion-input type='number' clearInput></ion-input>

  <ion-item>
    <ion-label>Sem position</ion-label>
    <ion-input type='text' placeholder='Informe seu nome'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position='float'>Float</ion-label>
    <ion-input type='text' placeholder='Informe seu nome'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position='fixed'>Fixed</ion-label>
    <ion-input type='text' placeholder='Informe seu nome'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position='stacked'>Stacked</ion-label>
    <ion-input type='text' placeholder='Informe seu nome'></ion-input>
  </ion-item>

</ion-content>
